img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.product-item {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-item a {
  display: block;
  margin-bottom: 10px;
}

.product-item h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.product-item p {
  margin-bottom: 5px;
}

.product-item p:last-child {
  font-weight: bold;
}

.router-link-active {
  text-decoration: underline;
}
