<div class="product-details-container">
  <img src="{{ product.url }}" alt="{{ product.name }}">
  <div class="product-info">
    <div class="product-data">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.price | currency :'USD'}}</p>
    </div>
    <app-add-to-cart [productItem]="product" class="app-add-to-cart"></app-add-to-cart>
    <a routerLink="/products" routerLinkActive="router-link-active" class="router-link">← Back to Products</a>
  </div>
</div>